/* Body background */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url(background) no-repeat center center fixed; /* Add your custom background image */
    background-size: cover;
    color: #fff;
}

/* Header section */
header {
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid #fff;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.6;
}

/* Card styling */
.card {
    max-width: 60%;
    margin: 50px auto;
    border: 5px solid #fff;
    border-radius: 10px;
    background: url('card-background3.jpg') no-repeat center center; /* Add card background image */
    background-size: cover;
    padding: 10px;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    overflow: hidden;
    width: 100%; /* Ensure the slideshow container is 100% width */
}

/* Each slide */
.slide {
    display: none;
    width: 100%;
    position: relative;
}

/* Slide image */
.slide-img {
    width: 60%; /* Make the image fill the full width of the card */
    max-height: 500px; /* Increase the max height to 600px */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    display: block; /* Block-level element for full control */
    margin: 0 auto; /* Center the image */
}
/* GIF Slide Image */
.slide-gif {
    width: 100%; /* Fill the full width of the card */
    max-height: 600px; /* Ensure it has a consistent size */
    object-fit: cover; /* Maintain aspect ratio */
    display: block; /* Block-level element */
    margin: 0 auto; /* Center the image */
}

/* Project description styling */
.project-description {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 2px solid #fff;
    text-align: left;
}

.project-description h3 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.project-description p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #ddd;
}

/* Fading effect */
.fade {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from {opacity: 0.4}
    to {opacity: 1}
}

/* Arrow buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
    transform: translateY(-50%);
    border-radius: 50%;
    user-select: none;
}

.prev { left: 0; }
.next { right: 0; }

/* Add hover effect for arrows */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Responsive for mobile */
@media only screen and (max-width: 768px) {
    .caption {
        font-size: 16px;
    }

    header h1 {
        font-size: 36px;
    }

    header p {
        font-size: 16px;
    }
}
